
/* Contenedor para centrar el formulario */
.form-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* La tarjeta blanca principal */
.form-card {
    width: 100%;
    max-width: 700px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);

    border-radius: 16px; 
    padding: 30px; 
    box-sizing: border-box; 
    
    border: 1px solid #ddd; 
}

/* Grupo de formulario (etiqueta + input) */
.form-group {
    margin-bottom: 20px;
}

/* Estilo para las etiquetas (labels) */
.form-group label {
    display: block;
    font-weight: 900;
    color: #000; 
    margin-bottom: 8px;
    font-size: 16px;
}

/* Estilo para los inputs de texto y select */
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-family: "Doto", sans-serif; 
    color: #000000;
    font-weight: 700;
    
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
    
}

.form-group input:hover{
    border: 1px solid #1abc9c; 
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

/* Botón de envío */
.btn-submit {
    background-color: #1abc9c;
    color: white;
    padding: 12px 20px; 
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Doto", sans-serif;
    cursor: pointer;
    width: 100%; 
}

.btn-submit:hover {
    background-color: #16a085;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

/* Este #mensaje es para el error general del 'submit' */
#mensaje {
    font-size: 15px;
    margin-top: 20px;
    font-weight: 900;
    color: #e74c3c; 
    text-align: center;
}